
html {
    font-family: 'Montserrat';
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;}

    body {
        background: #3c7ec1;
        margin: 0px;
        padding: 0;
        font-family: 'montserrat';

      }

h1{
    text-align: center;
    color: #fcd5b5;
    font-family: 'abril fatface';
    font-size: 50px;
}
h2{
    text-align: center;
    color: #f6ab8b;
    font-family: 'montserrat';
    font-size: large;
}
/*--------------------GRID--------------------*/


/*.container {  display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr S;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "Contact Contact Photo Skills"
      "Contact Contact Fonction CV"
      "form form form form";
  }
  
  .Contact { grid-area: Contact;  }
  
  .Photo { grid-area: Photo; }
  
  .Skills { grid-area: Skills; }
  
  .Fonction { grid-area: Fonction; }
  
  .CV { grid-area: CV; }
  
  .form { grid-area: form; }
  --*/
.container {  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 500px 500px;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "Contact Contact photo skills"
    "Contact Contact fonction cv";
}

a {
  text-decoration:none;
}

.contact { grid-area: Contact; 

background-image: url("contact@4x.png") ;
background-size: cover;
display:flex;
  justify-content:center;
  align-items:center;

}


.photo { grid-area: photo;
max-width: 100%;
background-image: url("photo@4x.png") ;
background-size: cover;
 }

.skills { grid-area: skills; 
max-width: 100%;
background-image: url("skills@4x.png") ;
background-size: cover;
}

.fonction { grid-area: fonction; 
max-width: 100%;
background-image: url("fonction@4x.png") ;
background-size: cover;
}

.cv { grid-area: cv; 
max-width: 100%;
background-image: url("cv@4x.png") ;
background-size: cover;
}
#bigone{
width: 100%;
}
#smallone{
    width: 100%;
}

/*hover contact*/
.contact {
    position: relative;
    display: inline-block;
}

.contacttext {
    color: #e6311c;
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'montserrat';
}
.coverlayFade{
    height: 100%;
    width:100%;
    top:0;
    left:0;
    background-color: #f49c8b;
}
.coverlay {
    position: absolute;
    opacity: 0;
    transition:all .3s ease;
    background-color: #f49c8b;
}
.contact:hover .coverlay,.contact:hover .coverlayFade {
    opacity: 1;
}

/*hover cv*/
.cv {
    position: relative;
    display: inline-block;
}

.cvtext {
    color: #e6311c;
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'montserrat';
}
.cvoverlayFade{
    height: 100%;
    width:100%;
    top:0;
    left:0;
    background-color: #f49c8b;
}
.cvoverlay {
    position: absolute;
    opacity: 0;
    transition:all .3s ease;
    background-color: #f49c8b;
}
.cv:hover .cvoverlay,.cv:hover .cvoverlayFade {
    opacity: 1;
}


/*hover fonction*/
.fonction {
    position: relative;
    display: inline-block;
}

.fonctiontext {
    color: #fcd5b5;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'montserrat';
}
.foverlayFade{
    height: 100%;
    width:100%;
    top:0;
    left:0;
    background-color: #e6311c;
}
.foverlay {
    position: absolute;
    opacity: 0;
    transition:all .3s ease;
    background-color: #e6311c;
}
.fonction:hover .foverlay,.fonction:hover .foverlayFade {
    opacity: 1;
}

/*hover skills*/
.skills {
    position: relative;
    display: inline-block;
}

.skillstext {
    color: #fcd5b5;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'montserrat';
}
.skillsoverlayFade{
    height: 100%;
    width:100%;
    top:0;
    left:0;
    background-color: #3c7ec1;
}
.skillsoverlay {
    position: absolute;
    opacity: 0;
    transition:all .3s ease;
    background-color: #3c7ec1;
}
.skills:hover .skillsoverlay,.skills:hover .skillsoverlayFade {
    opacity: 1;
}
/*hover photo*/
.photo {
    position: relative;
    display: inline-block;
}

.photok{
    width: 100%;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.photooverlayFade{
    height: 100%;
    width:100%;
    top:0;
    left:0;
    background-color: #3c7ec1;
}
.photooverlay {
    position: absolute;
    opacity: 0;
    transition:all .3s ease;
    background-image: url("photok@4x.png") ;
    background-size: cover;
}
.photo:hover .photooverlay,.photo:hover .photooverlayFade {
    opacity: 1;
}



/*--------------------form--------------------*/
form { max-width:420px; margin:50px auto; }
::placeholder{
    color: #fcd5b5;
    font-family:'montserrat';
}

.feedback-input {
  color:#fcd5b5;
  font-family: 'Helvetica';
  font-weight:0;
  font-size: 18px;
  line-height: 22px;
  background-color: transparent;
  border: 1.5px solid #fcd5b5;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus { 
    border:2px solid #f6ab8b;
background-color: #3c7ec1; }

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;

}

[type="submit"] {
  font-family: 'Montserrat';
  width: 100%;
  background:#3c7ec1;
  border:0;
  cursor:pointer;
  color:#fcd5b5;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}
[type="submit"]:hover { 
    background:#f6ab8b;
color:#3c7ec1 ; }

/*------------*/
@media (max-width: 1700px) {
  .container {
    flex-direction: column;
    
}
.photo {

    width: 100%;
    height: 50%;
}
.cv{
  width: 100%;
    height: 50%;
}
.contact{
  width: 100%;
    height: 50%;
}
.fonction{
  width: 100%;
    height: 50%;
}
.skills{
  width: 100%;
    height: 50%;
}
#zonetext {
    width: 100%;
    height: 50%;
}
img {
    width: 50%;
}
}
@media (max-width: 992px) {
        .container {
            flex-direction: column;
            
        }
        .photo {
      
            width: 100%;
            height: 50%;
        }
        .cv{
          width: 100%;
            height: 50%;
        }
        .contact{
          width: 100%;
            height: 50%;
        }
        .fonction{
          width: 100%;
            height: 50%;
        }
        .skills{
          width: 100%;
            height: 50%;
        }
        #zonetext {
            width: 100%;
            height: 50%;
        }
        img {
            width: 50%;
        }
    }
    
    @media (max-width: 600px) {
      .container {
        flex-direction: column;
        
    }
    .photo {
  
        width: 100%;
        height: 50%;
    }
    .cv{
      width: 100%;
        height: 50%;
    }
    .contact{
      width: 100%;
        height: 50%;
    }
    .fonction{
      width: 100%;
        height: 50%;
    }
    .skills{
      width: 100%;
        height: 50%;
    }
    #zonetext {
        width: 100%;
        height: 50%;
    }
    img {
        width: 50%;
    }
}