
html {
    font-family: 'Montserrat';
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;}

    body {
        background: #e6311c;
        margin: 0px;
        padding: 0;
        font-family: 'montserrat';

      }

h1{
    text-align: center;
    color: #fcd5b5;
    font-family: 'montserrat';
    font-size: xx-large;
}
h2{
    text-align: center;
    color: #f6ab8b;
    font-family: 'montserrat';
    font-size: large;
}
/*--------------------GRID--------------------*/
.container {  display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr S;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "Contact Contact Photo Skills"
      "Contact Contact Fonction CV"
      "form form form form";
  }
  
  .Contact { grid-area: Contact;  }
  
  .Photo { grid-area: Photo; }
  
  .Skills { grid-area: Skills; }
  
  .Fonction { grid-area: Fonction; }
  
  .CV { grid-area: CV; }
  
  .form { grid-area: form; }
  
 
img{
    width: 100%;
}

/*--------------------form--------------------*/
form { max-width:420px; margin:50px auto; }
::placeholder{
    color: #fcd5b5;
    font-family:'montserrat';
}

.feedback-input {
  color:#fcd5b5;
  font-family: 'Helvetica';
  font-weight:0;
  font-size: 18px;
  line-height: 22px;
  background-color: transparent;
  border: 1.5px solid #3c7ec1;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus { 
    border:2px solid #f6ab8b;
background-color: #3c7ec1; }

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;

}

[type="submit"] {
  font-family: 'Montserrat';
  width: 100%;
  background:#3c7ec1;
  border:0;
  cursor:pointer;
  color:#fcd5b5;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}
[type="submit"]:hover { 
    background:#f6ab8b;
color:#3c7ec1 ; }

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
  }
  
  .Contact:hover .overlay {
    opacity: 1;
  }
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }