.container {  display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 35% 35% 30%;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "Contact Contact Photo Skills"
      "Contact Contact Fonction CV"
      "form form form form";
  }
  
  .Contact { grid-area: Contact; }
  
  .Photo { grid-area: Photo; }
  
  .Skills { grid-area: Skills; }
  
  .Fonction { grid-area: Fonction; }
  
  .CV { grid-area: CV; }
  
  .form { grid-area: form; }
  